.body {
    font-family: fantasy;
    display:flex;
    }

.naslovnica {
    padding: 100px 300px 100px 300px;
    text-align: center;
    color: white;
    font-size:30px;
    font-family:fantasy;
    }

.searchbar {
    position: relative;
    display: inline-flex;
    flex-wrap:wrap;
    width: 90%;
    height:20px;
    font-size:18px;
    background-color:transparent;
    border-radius:10px;
    padding:5px;
    color:white;
}

.searchwrapper{
    text-align: center;
}

.stran{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    width: 90%;
    font-family: fantasy;
}

.naslov_strani{
    padding-top:50px;
    padding-left:100px;
    color: white;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    font-size:18px;
    background-color:white;
    border-radius:10px;
    padding:5px;
    color:black;
}

.input, .textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
}
.textarea {
    word-wrap: break-word;
    -webkit-nbsp-mode: space;
    /*line-break: after-white-space;*/
    -webkit-user-modify: read-write;
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #88959e;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
  position:absolute;

}

.btn:hover {
  background: #000000;
  text-decoration: none;
}

.buttonscore {
  height: 150px

}

.slika {
  height: 500px;
  text-align:center;
}

#score {
  float: right;
  color: white;
  font-size:20px;
  font-family:fantasy;
  margin: 50px 100px;
}

#prevAnswer {
  color: white;
  font-size:20px;
  font-family:fantasy;
  margin: 50px 100px;
}

#map {
  height:80%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#map2 {
  height:80%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#start {
    margin: 50px 100px;
}

#wrongQbutton {
  display: none;
  margin: 50px 100px 50px 213px;
}
